<!DOCTYPE html>
<html>
    <head>
        <title>User Login</title>
        <link rel=icon href="/img/user.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="centered-form">
            <div class="centered-form__box">
                <form id="login-form" action="/myProfile">
                <label>Email</label>
                <br>
                <input name="email" type="text" placeholder="Email" id="email" required>
                <br>
                <label>Password</label>
                <br>
                <input name="password" type="password" placeholder="Password" id="password" required>
                <br>
                <button type="submit">Login</button>
                <p>New Here! <a href="/signup">Signup</a></p>
                </form>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>